#profile {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #0b97e3;
}

.btn-light {
    display: inline-block;
    margin-bottom: 1rem;
    color: #0b97e3;
    background-color: #0b97e31e;
    border-color: #0b97e3;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.left-image {
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.right-image {
    width: 200px;
    border-radius: 10px;
    margin-left: 20px;
}

.small-left-image {
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.small-right-image {
    width: 150px;
    border-radius: 10px;
    margin-left: 20px;
}